<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIFE IS RUN</title>
    <link rel="stylesheet" href="/css/logout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />
    <!-- ranking icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body id="bg">
    <div id="header"></div>
    <!-- loogin 및 ranking Main div 생성 -->
    <div id="logBody">
      <!-- loogin position 구성할 div 생성-->
      <div id="logBodyLeft">
        <div class="cong"><h5>
          <%=name%>님 <br><br> 환영합니다!
        </h5>
        </div>
        <div class="cong">
          <input type="hidden" id="registDate" value="<%=time%>">
            <h5><label for="id" id="livetime"></label></h5>
        </div>
        <!-- loogin content3 -->
        <div class="log_btn1">
          <div class="log_btn-outline">
            <a href="/kg/maingame">
              <button class="log_btn2">GAME START</button>
            </a>
          </div>
        </div>
        <div class="log_btn1 padding_top">
          <div class="log_btn-outline">
            <a class="logout" href="/kg/logout">로그아웃 하시겠습니까?</a>
          </div>
        </div>
        <div id="joinFind">
          <a
            href="/kg/searchinfo"
            onclick="window.open(this.href,'my information','width=800px , height=650px , toolbar-no , scrollbars=yes'); return false;"
            ><span>my information</span></a
          >
        </div>
      </div>
      <!-- ranking 화면 구성할 div 생성 -->
      <div id="logBodyRight">
        <div class="right_top">
          <div class="right_top_content">
            <div class="img_king">
              <img class="img_king" src="/image/king.png" alt="" />
            </div>
            <h1 class="material-symbols-outlined">Ranking</h1>
          </div>
        </div>
        <div class="right_main">
          <div class="right_main_content">
            <div class="option">
              <h3>Rank</h3>
              <h3>ID</h3>
              <h3>Point</h3>
            </div>
            <div class="main1">
              <div class="img_md">
              <img class="img_md" src="/image/gold.png" alt="">
              </div>
              <div class="one_id margin_right_5px margin_top_10px"><%=scoreData[0].name %></div>
              <div class="one_po margin_right_50px margin_top_10px"><%=scoreData[0].score %></div>
            </div>
            <div class="main1">
              <div class="img_md">
              <img class="img_md" src="/image/silver.png" alt="">
              </div>
              <div class="two_id margin_right_5px margin_top_10px"><%=scoreData[1].name %></div>
              <div class="two_po margin_right_50px margin_top_10px"><%=scoreData[1].score %></div>
            </div>
            <div class="main1">
              <div class="img_md">
              <img class="img_md" src="/image/bronz.png" alt="">
              </div>
              <div class="three_id margin_right_5px margin_top_10px"><%=scoreData[2].name %></div>
              <div class="three_po margin_right_50px margin_top_10px"><%=scoreData[2].score %></div>
            </div>
        </div>
      </div>
      <div class="right_bottom color">
          <h2 class="right_bottom_content material-symbols-outlined">Great!</h2>
        </div>
    </div>
  </body>
  <script src="/js/logoutglowParticle.js"></script>
  <script type="module" src="/js/logoutapp.js"></script>
  <script src="/js/live.js"></script>
</html>
<!-- test2 -->
<!-- test3 -->
<!-- test3.1 -->
